# NOTE: This file is auto generated by OpenAPI Generator 7.13.0-SNAPSHOT (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule WikibaseRESTAPI.Api.ItemSearch do
  @moduledoc """
  API calls for all endpoints tagged `ItemSearch`.
  """

  alias WikibaseRESTAPI.Connection
  import WikibaseRESTAPI.RequestBuilder

  @doc """
  [WIP] Simple Item search by label
  This endpoint is currently in development and is not recommended for production use

  ### Parameters

  - `connection` (WikibaseRESTAPI.Connection): Connection to server
  - `q` (String.t): The term to search item labels by
  - `language` (String.t): The language to search item labels in
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, WikibaseRESTAPI.Model.SearchItem200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec search_item(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, WikibaseRESTAPI.Model.SearchItem400Response.t} | {:ok, WikibaseRESTAPI.Model.SearchItem200Response.t} | {:error, Tesla.Env.t}
  def search_item(connection, q, language, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/v0/search/items")
      |> add_param(:query, :q, q)
      |> add_param(:query, :language, language)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, WikibaseRESTAPI.Model.SearchItem200Response},
      {400, WikibaseRESTAPI.Model.SearchItem400Response}
    ])
  end
end
